<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChooseLevel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>ChooseLevel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,474},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>ChooseLevel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>ChooseLevel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>ChooseLevel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chooselevel.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae678fae747eef43191632ee0c51e0f$</string>
            <key>textureFileName</key>
            <string>chooselevel.png</string>
        </dict>
    </dict>
</plist>
